<section>
  <div>
    <div>
      <h1>Autoforce DNS Checker</h1>
      <form action="/result" method="POST">
        <div>
          <label>Domain</label>
          <div>
            <input type="text" name="domain" placeholder="site.autoforce.com" required>
          </div>
        </div>
        <div>
          <div>
            <input type="submit" value="Analyze">
          </div>
        </div>
      </form>
    </div>
  </div>
</section>